.body{
    /* --auto-grid-min-size: 16rem; */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 5px;
  justify-items: center;

  /* align-content: center; */
  /* grid-gap: 1rem; */
}