.body{
    /* --auto-grid-min-size: 16rem; */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 5px;
  justify-items: center;
  /* grid-auto-flow: row; */
  /* grid-auto-rows: auto; */

  /* align-content: center; */
  /* grid-gap: 1rem; */
}
.add-note{
  display: flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  /* -ms-flex-align: center; */
  /* display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  -ms-grid-column-align: center; */
  /* align: center;  */
}
.popUpBar{
  height: 80px;
  padding-top: 40px;
  /* width:300px; */
}

/* for tablet */
@media screen and (max-width: 1600px){
  .body{
    /* --auto-grid-min-size: 16rem; */
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 5px;
  justify-items: center;
  justify-content: center;
  /* grid-auto-flow: row; */
  /* grid-auto-rows: auto; */

  /* align-content: center; */
  /* grid-gap: 1rem; */
}
  
}

/* for mobile */
@media screen and (max-width: 1200px){
  .body{
    /* --auto-grid-min-size: 16rem; */
  display: grid;
  grid-template-columns: auto ;
  grid-row-gap: 5px;
  justify-items: center;
  justify-content: center;
  /* grid-auto-flow: row; */
  /* grid-auto-rows: auto; */

  /* align-content: center; */
  /* grid-gap: 1rem; */
}
  
}