Card{
    padding: 0.5em;
    color: aqua;
}
.card{
    background-color:white;
}
   

.icons{
    display: none;
    /* height:60px; */
    
}

.card:hover .icons{

    display:flex;
    /* flex-flow: wrap; */
    justify-content: space-evenly;
   


}
